body {
    background-color:beige;
}
h1{
    color:red;
}
h3{
    color: rgb(117, 171, 37);
}
h4{
    color: red;
}
li{
    color: green;
}
table{
    border-color: rgb(233, 233, 136);
   background-color:rgb(227, 245, 199);
}